html {
  overflow: hidden;
}
.d1 {
  width: 98%;
  min-height: 98vH;
  max-height: 98vH;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* border:solid 1px gray; */
  margin-left: 3px;
  text-align: left;
}

.container {
  display: flex;
  justify-content: center;
}
.heightitlemenu {
  min-height: 20px;
  max-height: 20px;
} 
.width100 {
  /* display: flex; */
  /* justify-content: center; */
  min-width: 97% !important;
  max-width: 97% !important;
  /* min-width: 160px;
  max-width: 160px; */
}
.width350 {
  /* display: block; */
  min-width: 350px;
  max-width: 350px;
}
.width250 {
  /* display: block; */
  min-width: 250px;
  max-width: 250px;
}
.width600 {
  /* display: block; */
  min-width: 600px;
  max-width: 600px;
}
.marginleft15 {
  margin-left: 15px;
}
.margintop15 {
  margin-top: 15px;
}

.div_show {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /* border:solid 1px gray; */

  box-shadow: 2px 2px 2px 2px #888888;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-right: 80px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.align-c {
  text-align: center !important;
}
.align-l {
  text-align: left !important;
}
.align-r {
  text-align: right !important;
}

.collapse {
  /* text-align: center; */
  border: 0px solid #BFBFBF;
  border-collapse: collapse;
  padding: 10px 10px 15px 10px;
  padding: 0px !important;
  margin-top: 0px !important;
  display: block;
  /* min-height: 35vH;
  max-height: 35vH; */
  /* overflow-y: scroll; */
}


.pad-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}


