ons-list-title {
  /* font-family: 'Pridi', serif !important; */
  font-size: 2em !important;
  font-style: bold !important;
  padding-left: 1em !important;
  color:rgba(196, 56, 21, 0.796) !important;
}

